# dependencies
node_modules

# production
build

# misc
.DS_Store

npm-debug.log
yarn-error.log
yarn.lock
.yarnclean
.jshintrc
markdownlint.json

# visual studio code files
.vscode
*.code-workspace
tempCodeRunnerFile.js
