body {
    background-color: #2f68e2;
  }
  h1 {
    font-family: Arial;
    color: #ffffff;
    align-content: center;
    margin: auto;
    padding: 8px 0;
  }
  p {
    color: #ffffff;
    font-size: 24px;
    font-family: Arial;
    align-content: center;
    margin: auto;
    padding: 3px 0;
  }
  button {
    font-family: Arial;
  }